name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd PROJET_INTEGRATION_DEPLOIEMENT-main
          npm ci

      - name: Run Cypress tests
        run: |
          cd PROJET_INTEGRATION_DEPLOIEMENT-main
          npx cypress run
